*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#GameBored{
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}
path{
    position: relative;
    z-index: -10;
}
.pieceBack{
    position: relative;
    width: 50px;
    height: 50px;
    z-index: -9;
}
.piece{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    z-index: 10;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.green{
    background-color: rgb(176, 226, 100);
}
.blue{
    background-color: rgb(112, 145, 189);
}
svg{
    width: 35px;
    height: 35px;
}

.white{
    fill: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 1px black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.black{
    fill: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

